.login-page {
  min-height: calc(100vh - 221px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: min(420px, calc(100vw - 3rem));

  h2 {
    margin: 0 0 1.25rem;
    font-size: 2.2rem;
  }
}

.login-form .app-form-control-full-width + .app-form-control-full-width {
  margin-top: 0.5rem;
}
