<button
  class="action-button"
  mat-icon-button type="button"
  [class.action-button-grey]="action().variant === 'grey'"
  [class.action-button-red]="action().variant === 'red'"
  [class.action-button-yellow]="action().variant === 'yellow'"
  [class.action-button-orange]="action().variant === 'orange'"
  [class.action-button-blue]="action().variant === 'blue'"
  [class.action-button-purple]="action().variant === 'purple'"
  [attr.aria-label]="action().tooltip"
  [matTooltip]="action().tooltip"
  [disabled]="action().disabled ?? false"
  (click)="onClick()"
>
  <mat-icon>{{ action().icon }}</mat-icon>
</button>
