<footer>
  <div class="footer-inner">
    @if (! isMobile()) {
      <div class="footer-desktop">
        @if (document()?.exists === true) {
          <div class="footer-meta">
            <p class="left-text">
              <small>{{ 'footer.last-update' | localized:{ timestamp: (document()?.metadata?.timestamp | timezone: 'yyyy-MM-dd HH:mm') ?? '', author: author() } }}</small>
            </p>
          </div>
        }
        <div class="footer-powered" [class.full-width]="document()?.exists !== true">
          <p class="right-text">
            <small>{{ 'footer.powered-by' | localized }} <a href="https://github.com/Zavy86/WikiDocs" target="_blank">Wiki|Docs</a></small>
          </p>
        </div>
      </div>
    } @else {
      <div class="footer-mobile">
        <div>
          <p class="center-text">
            <small>
              <strong>{{ owner() }}</strong>
              <br/>
              <span>{{ notice() }}</span>
            </small>
          </p>
          <p class="center-text">
            <small>
              <a routerLink="/authenticate">{{ (isAuthenticated() ? 'footer.logout' : 'footer.login') | localized }}</a>
            </small>
          </p>
        </div>
      </div>
    }
  </div>
</footer>
