<footer>
  <div class="footer-inner">
    @if (! isMobile()) {
      <div class="footer-desktop">
        @if (document()?.exists === true) {
          <div class="footer-meta">
            <p class="left-text">
              <small>Last update {{ timestamp() }} by {{ author() }}</small>
            </p>
          </div>
        }
        <div class="footer-powered" [class.full-width]="document()?.exists !== true">
          <p class="right-text">
            <small>Powered by <a href="https://github.com/Zavy86/WikiDocs" target="_blank">Wiki|Docs</a></small>
          </p>
        </div>
      </div>
    } @else {
      <div class="footer-mobile">
        <div>
          <p class="center-text">
            <small>
              <strong>{{ owner() }}</strong>
              <br/>
              <span>{{ notice() }}</span>
            </small>
          </p>
          <p class="center-text">
            <small>
              <a routerLink="/authenticate">{{ ( isAuthenticated() ? 'Logout' : 'Login' ) }}</a>
            </small>
          </p>
        </div>
      </div>
    }
  </div>
</footer>
