/**
 * Styles
 *
 * @package WikiDocs
 * @repository https://github.com/Zavy86/WikiDocs
 */

/* dark overrides */
body,.sidenav,.sidebar-footer,.modal,.modal-footer{background-color:#161923 !important;color:#ccc !important;border-color:#222 !important;}
.divider{background-color:#222 !important;}
.search-wrapper{border-color:#222 !important;}
.sidenav a{color:#bbb !important;}
input{color:#bbb;}

/* footer */
footer{color:#666666;font-size:12px;}
footer a{color:#666666;}
footer a:hover,footer a:active{text-decoration:none;}

/* highlights */
mark{background-color:#fcf8e3;}

/* images */
img.polaroid{background-color:#ffffff;border:1px solid #dddddd;}

/* code */
code{background:#23241f;padding:0 5px;}

/* sidebar */
ul.sidenav.sidenav-fixed{border-right:1px solid #dddddd;}
ul.sidenav.sidenav-fixed li:hover{background-color:#444 !important;}
ul.sidenav.sidenav-fixed li.active{background-color:#303030 !important;}
ul.sidenav.sidenav-fixed li.logo:hover,ul.sidenav.sidenav-fixed li.logo #logo-container:hover{background-color:transparent !important}
ul.sidenav.sidenav-fixed li.sub_index.active{background-color:#444 !important;}
ul.sidenav.sidenav-fixed li.subsub_index.active{background-color:#555 !important;}

/* search */
#nav-mobile li.search:hover{background-color:#444;}
#nav-mobile li.search .search-wrapper{color:#777777;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}

/* sidebar-footer */
.sidebar-footer{border-top:solid 1px #dddddd;background-color:#ffffff;}
.sidebar-footer .default-title:before{color:#ffffff;}

/* simplemde */
.EasyMDEContainer .CodeMirror {color:#ccc;border-color:#ccc;background-color:#444;}
.EasyMDEContainer .editor-toolbar > * {color:#ccc;}
.EasyMDEContainer .editor-toolbar > .active, .editor-toolbar > button:hover, .editor-preview pre, .cm-s-easymde .cm-comment{color:#ccc;background-color:#23241F;}
.editor-toolbar.fullscreen{background:#161923;}
.EasyMDEContainer .CodeMirror-fullscreen{background:#444;color:#ccc;}
.editor-preview{background:#161923;color:#ccc;}
.CodeMirror-selectedtext{background-color: #d9d9d9 !important;color: #444 !important;}
::selection{background-color: #d9d9d9 !important;color: #444 !important;}
::-moz-selection{background-color: #d9d9d9 !important;color: #444 !important;}

/* inputs */
label{color:#ccc;}
