/**
 * Styles
 *
 * @package WikiDocs
 * @repository https://github.com/Zavy86/WikiDocs
 */

/* footer */
footer{color:#666666;}
footer a{color:#666666;}
footer a:hover,footer a:active{color:#000000}

/* highlights */
mark{background-color:#fcf8e3;}

/* images */
img.polaroid{background-color:#ffffff;border:1px solid #dddddd;}

/* codes */
code{background:#f0f0f0;}

/* sidebar */
ul.sidenav.sidenav-fixed{border-right:1px solid #dddddd;}
ul.sidenav.sidenav-fixed li:hover{background-color:#efefef !important;}
ul.sidenav.sidenav-fixed li.active{background-color:#e0e0e0 !important;}
ul.sidenav.sidenav-fixed li.logo:hover,ul.sidenav.sidenav-fixed li.logo #logo-container:hover{background-color:transparent !important}
ul.sidenav.sidenav-fixed li.sub_index.active{background-color:#e9e9e9 !important;}

/* search */
#nav-mobile li.search:hover{background-color:#ffffff;}
#nav-mobile li.search .search-wrapper{color:#777777;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
#nav-mobile li.search .search-wrapper input#search{color:#777777;}

/* sidebar-footer */
.sidebar-footer{border-top:solid 1px #dddddd;background-color:#ffffff;}

/* inputs */
label{color:#000;}

/* custom scrollbars */
::-webkit-scrollbar-track{background:#f1f1f1; border-radius: 10px;}
* {scrollbar-width: thin; scrollbar-color: var(--theme-color) #f1f1f1;}

.table-picker {background: white; border: 1px solid #ddd;}
.table-picker .cell {border: 1px solid #ddd;}
.table-picker .cell.active {background-color: var(--theme-color);}
